<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Posts</title>
  <link rel='stylesheet' href='styles.css'>
</head>
<body>
  <h1>All posts</h1>

  <ul class='body'>
    <% for(var i=0; i < body.length; i++) {%>
      <li class='body'>
        <span><%= body[i].title %></span>
        </li>
    <% } %>
    </ul>
  <br />
</body>
</html>
